<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>97.100</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Casos confirmados
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>40.973</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Casos recuperados
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>6.761</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Óbitos
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Mapa</ion-card-title>
    </ion-card-header>
    <img src="assets/img/mapa.jpg" />
  </ion-card>
</ion-content>
